.card-pizza-container {
  margin: 1rem 2rem 1rem 2rem;
  width: 260px;
}

.card-pizza-container .ant-card .ant-card-cover img {
  width: 260px;
}

.card-pizza-container .ant-card .ant-card-body {
  padding: 0;
  margin: 1rem 0.5rem 1rem 0.5rem;
}
.card-pizza-container .ant-card .ant-card-body h4 {
  text-align: center;
  font-weight: 600;
}
.card-pizza-container .ant-card .ant-card-body .card-pizza-options {
  display: flex;
  justify-content: space-between;
}
