.navbar-cart {
  padding: 0.781rem;
  background-color: #b8b8b8;
  width: 5%;
  text-align: center;
  font-weight: 600;
  color: var(--text-color-navbar);
}
.navbar-cart-valid {
  padding: 0.781rem;
  background-color: #b8b8b8;
  width: 5%;
  text-align: center;
  font-weight: 600;
  color: var(--text-color-navbar);
}
.navbar-cart-valid:hover {
  background-color: var(--bg-color-buttons);
}

.navbar-cart-icon {
  font-size: 25px;
  color: white;
}
.navbar-number {
  position: absolute;
  top: 30px;
  right: 2px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--bg-color-buttons);
  color: white;
}
